<div class="close" (click)="close.emit()">
  <svg-icon-sprite
    src="assets/sprites/sprite.svg#close"
    width="16px"
    height="14px"></svg-icon-sprite>
</div>
<div class="scroll-wrapper" *ngIf="event">
  <div class="header">Когда?</div>
  <div class="value">{{event.dateBegin | date}}{{event.dateBegin && event.dateEnd && ' - ' || ''}}{{event.dateEnd | date}}</div>
  <div class="header">Вид</div>
  <div class="value">{{getTypeDesc(event.type)}}{{event.subtype && ' / ' + event.subtype || ''}}</div>
  <div class="header">Цена</div>
  <div class="value">{{event.price || 'Свободный вход'}}</div>
  <div class="header" *ngIf="event.website">Сайт</div>
  <div class="value" *ngIf="event.website"><a href="{{event.website}}" target="_blank">{{event.website}}</a></div>
  <div class="header">Возрастное ограничение</div>
  <div class="value">{{event.ageLimit || 'Без ограничений'}}</div>
  <div class="header">Описание</div>
  <div class="value">{{event.description}}</div>
</div>
