:host {
  position: absolute;
  padding: 24px;
  left: 316px;
  top: 134px;
  overflow: auto;
  bottom: 24px;
  width: 361px;
  background: #FFFFFF;
}

.header {
  line-height: 21px;
  font-size: 18px;
  color: #1B0852;
  margin-bottom: 5px;
}

.value {
  line-height: 17px;
  font-size: 14px;
  color: #383838;
  margin-bottom: 32px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
