:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
}

.menu {
  float: left;
  cursor: pointer;
}

.search {
  float: right;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%);
  width: 95px;
  height: 31px;
  background: url("/assets/logo.svg") no-repeat center/contain;
  z-index: 3;
}

svg-icon-sprite {
  color: #FFFFFF;
}
