<app-header (menuClick)="menu.toggle()"></app-header>
<app-categories
  (categoryClick)="filterShortCards($event)"
  [checkedCategory]="checkedCategory"></app-categories>
<div class="cards-list"
     *ngIf="filteredEvents && filteredEvents.length"
     [ngClass]="{focused: !!checkedEvent}">
  <app-short-card
    *ngFor="let event of filteredEvents"
    [title]="event.name"
    [image]="event.image"
    [ngClass]="{checked: event === checkedEvent}"
    (click)="showEvent(event)"></app-short-card>
</div>
<div class="cards-list"
     *ngIf="filteredPlaces && filteredPlaces.length"
     [ngClass]="{focused: !!checkedPlace}">
  <app-short-card
    *ngFor="let place of filteredPlaces"
    [title]="place.name"
    [image]="place.image"
    [ngClass]="{checked: place === checkedPlace}"
    (click)="showPlace(place)"></app-short-card>
</div>
<app-event-description
  *ngIf="checkedEvent"
  [event]="checkedEvent"
  (close)="checkedEvent = null"></app-event-description>
<app-place-description
  *ngIf="checkedPlace"
  [place]="checkedPlace"
  (close)="checkedPlace = null"></app-place-description>
<app-map
  [ngClass]="{focused: !!checkedEvent || !!checkedPlace}"></app-map>
<app-menu #menu></app-menu>
